@tailwind base;
@tailwind components;
@tailwind utilities;

/* For Alpine */
[x-cloak] {
  display: none !important;
}

@font-face {
  font-family: "midnight";
  src: url("/fonts/blackout_midnight-webfont.woff") format("woff"),
    url("/fonts/blackout_midnight-webfont.eot") format("embedded-opentype");
  font-weight: bold;
  font-display: fallback;
  font-feature-settings: "kern";
}

@font-face {
  font-family: "twoam";
  src: url("/fonts/blackout_two_am-webfont.woff") format("woff"),
    url("/fonts/blackout_two_am-webfont.eot") format("embedded-opentype");
  font-weight: bold;
  font-display: fallback;
  font-feature-settings: "kern";
}

@font-face {
  font-family: "fira-sans";
  src: url("/fonts/FiraSans-Bold.woff2") format("woff2"),
    url("/fonts/FiraSans-Bold.woff") format("woff"),
    url("/fonts/FiraSans-Bold.eot") format("embedded-opentype");
  font-weight: bold;
  font-display: fallback;
}

@font-face {
  font-family: "fira-sans";
  src: url("/fonts/FiraSans-Regular.woff2") format("woff2"),
    url("/fonts/FiraSans-Regular.woff") format("woff"),
    url("/fonts/FiraSans-Regular.eot") format("embedded-opentype");
  font-weight: normal;
  font-display: fallback;
}
